<ion-view title="Carrito">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <cart></cart>
  </ion-content>
</ion-view>
