<ion-view title="Menus">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list">

            <a class="item item-thumbnail-left" ng-repeat="menu in menus" href="#/{{menu.id}}">
                <img src="http://comoencasa.somospnt.com/casas/bendita-vianda/img/viandas/{{menu.imagen}}">
                <div class="row">
                    <div class="col cec-menu-info">
                        <h2>{{menu.nombre}}</h2>
                        <div class="cec-menu-descripcion">{{menu.descripcion}}</div>
                    </div>
                    <div class="col col-20">
                        <div ng-controller="CartController">
                            <button class="button button-positive" ng-click="ngCart.addItem(menu.id, menu.nombre, 1 , 1)" ng-transclude="">
                                <i class="icon ion-ios7-cart"></i>
                                <i class="icon  ion-ios7-cart-outline"></i>
                            </button>                         
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
