
<div class="alert alert-warning" role="alert" ng-show="ngCart.totalItems() === 0">
    Su carrito esta vacio.
</div>

<div class="table-responsive col-lg-12" ng-show="ngCart.totalItems() > 0">

    <table class="table table-striped ngCart cart">

        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr ng-show="ngCart.getTax()">
            <th></th>
            <th></th>
            <th></th>
            <th>Tax ({{ ngCart.getCart().tax }}%):</th>
            <th>{{ ngCart.getTax() | currency }}</th>
        </tr>
        <tr ng-show="ngCart.getShipping()">
            <th></th>
            <th></th>
            <th></th>
            <th>Shipping:</th>
            <th>{{ ngCart.getShipping() | currency }}</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Total:</th>
            <th>{{ ngCart.totalCost() | currency }}</th>
        </tr>
        </tfoot>
        <tbody>
        <tr ng-repeat="item in ngCart.getCart().items track by $index">
            <td><span ng-click="ngCart.removeItem($index)" class="icon ion-close"></span></td>
            <td>{{ item.getName() }}</td>
            <td><span class="icon ion-minus" ng-class="{'disabled':item.getQuantity()==1}"
                      ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
                {{ item.getQuantity() | number }}&nbsp;&nbsp;
                <span class="icon ion-plus" ng-click="item.setQuantity(1, true)"></span></td>
            <td>{{ item.getPrice() | currency}}</td>
            <td>{{ item.getTotal() | currency }}</td>
        </tr>
        </tbody>
    </table>
</div>
<style>
    .ngCart.cart span[ng-click] {
        cursor: pointer;
    }
    .ngCart.cart .glyphicon.disabled {
        color:#aaa;
    }
</style>